<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- HEADER -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ranking</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- END HEADER -->

  <!-- RANKING -->

  <!-- CARD -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Puesto #1</ion-card-subtitle>
      <ion-card-title>Cristian</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Score : 1000
    </ion-card-content>
  </ion-card>
  <!-- END CARD -->
  
    <!-- CARD -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Puesto #1</ion-card-subtitle>
        <ion-card-title>Cristian</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Score : 1000
      </ion-card-content>
    </ion-card>
    <!-- END CARD -->

  <!-- END RANKING -->

</ion-content>
