<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- HEADER -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ranking | Top 5</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- END HEADER -->

  <!-- RANKING -->

  <!-- CARD -->
  <ion-card *ngFor="let item of Games; let i = index">
    <ion-card-header>
      <ion-card-subtitle>Puesto {{i+1}}°</ion-card-subtitle>
      <ion-card-title>{{item.user}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.score}}
    </ion-card-content>
  </ion-card>
  <!-- END CARD -->
  

  <!-- END RANKING -->

</ion-content>
