<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Questionados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- HEADER -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questionados</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- END HEADER -->

  <!-- QUESTION -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
      <ion-card-title>Pregunta?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      EXTRA
    </ion-card-content>
  </ion-card>
  
  <!-- OPTIONS -->
  <ion-card>
    <ion-item href="#">
      <ion-icon name="ellipse-outline" slot="start"></ion-icon>
      <ion-label>OPCIÓN 1</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="ellipse-outline" slot="start"></ion-icon>
      <ion-label>OPCIÓN 2</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="ellipse-outline"  slot="start"></ion-icon>
      <ion-label>OPCIÓN 3</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="ellipse-outline" slot="start"></ion-icon>
      <ion-label>OPCIÓN 4</ion-label>
    </ion-item>
  </ion-card>
  <!-- END OPTIONS -->

  <!-- END QUESTION -->
  
</ion-content>

