<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Questionados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- HEADER -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Questionados</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- END HEADER -->

  <!-- FORM -->

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Nuevo juego</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="welcomeForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 input-group-lg">
            <ion-input #name placeholder="Ingresar Nombre"  formControlName="name" autofocus></ion-input>
            <div *ngIf="welcomeForm.controls['name'].invalid && (welcomeForm.controls['name'].dirty || welcomeForm.controls['name'].touched)"
                class="badge bg-danger">
                <div *ngIf="welcomeForm.controls['name'].errors">
                    El nombre es requerido.
                </div>
            </div>
        </div>
        <ion-button [disabled]="!welcomeForm.valid" type="submit" expand="block">Jugar</ion-button>
    </form>
    </ion-card-content>
  </ion-card>

  
  <!-- END FORM -->

  
  
</ion-content>

